$font1: "Italiana", sans-serif;
$font2: "Tenor Sans", sans-serif;
$font3: "PT Serif", serif;
$font4: 'Arapey', serif;

$color1: rgb(78, 78, 78);
$color2: rgba(58, 57, 57, 0.288);
$color3: rgb(39, 39, 39);
$bcolor1: #f9f9f926;
$color: #810b07;

@mixin flexer($dir: row, $justify: center, $items: center) {
  display: flex;
  justify-content: $justify;
  align-items: $items;
  flex-direction: $dir;
}

@mixin hw($width: 100%, $height: fit-content) {
  height: $height;
  width: $width;
}

@mixin linkHover() {
  cursor: pointer;
  position: relative;
  &::before {
    content: "";
    width: 0px;
    position: absolute;
    bottom: -5px;
    height: 1px;
    background-color: white;
  }

  &:hover::before {
    width: 100%;
    transition: 0.6s ease;
  }
}
