@import "../styles/utils";

.about {
  height: fit-content;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;

  .left {
    width: 100%;
    display: flex;
    flex-direction: column;

    h1 {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 1rem;
      font-family: $font4;
      font-weight: lighter;
      font-size: 2.4rem;
    }

    img {

      width: 100%;
      object-fit: cover;
    }

    h2 {
      margin: 2rem 0;
      font-family: "PT Serif", serif;
      font-weight: 400;
      font-size: 2rem;
      color: $color;
      text-align: center;
    }

    .color{
      padding: 0rem 5rem 2rem 5rem;
      width: 100%;
      > .about_p {
        font-size: 1.2rem;
        width: 100%;
        padding-right: 1rem;
        font-family: "PT Serif", serif;
        font-weight: 400;
        margin: 10px;
        text-align: start;
      }

      @media screen and (max-width:768px) {
        padding: 0rem 3rem 1rem 3rem;
      }

      @media screen and (max-width:500px) {
        padding: 0rem 1rem 2rem 1rem;
      }

     
    }
      
    .section {
      margin-top: 30px;
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: left;
      margin-bottom: 30px;

      > .section1 {
        margin-right: 15%;

        .icon {
          color: #e78a4c;
          margin-bottom: 30px;
          font-size: 21px;
        }

        h2 {
          font-size: 18px;
          font-weight: lighter;
          margin-bottom: 20px;
          color: #141414;
        }

        p {
          color: #7a7a7a;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }

      > .section2 {
        margin-right: 20%;

        .icon {
          color: #e78a4c;
          margin-bottom: 30px;
          font-size: 21px;
        }

        h2 {
          font-size: 18px;
          font-weight: lighter;
          margin-bottom: 20px;
        }

        p {
          color: #7a7a7a;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
    }
  }
}



@media screen and (max-width: 1024px) {
  .skill {
    width: fit-content;
    height: fit-content;
    @include flexer(column);

    .rit {
      margin-top: 2rem;
      width: 60%;
      .percen {
        width: fit-content;
        @include flexer();
        height: fit-content;
      }
    }
  }

  .team {
    height: fit-content;
    width: 100%;
    margin: 0;
    @include flexer(center, center);

    .rigt1 {
      text-align: center;
      justify-content: center;
      width: fit-content;
      height: fit-content;
      .sect {
        height: 40vh;
        margin-top: 1.2rem;

        img {
          height: 30vh;
          width: 22vw;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .ment {
    @include flexer(column);
    padding-top: 2rem;
    height: fit-content;

    .lef {
      width: fit-content;
      h3 {
        margin-top: 1rem;
        font-size: 1.2rem;
      }
      h1 {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 2rem;
      }
    }

    .rig {
      .r {
        @include flexer(column);
        .exp {
          margin-bottom: 5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .team {
    height: fit-content;
    width: 100%;
    margin: 0;

    .rigt1 {
      margin-bottom: 0rem;
    }

    .lef1 {
      width: 100vw;
      height: 25vh;
      margin-top: 1rem;
      @include flexer(column);

      h4 {
        color: #bb6830;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      p {
        font-size: 2.3rem;
        text-align: center;
      }
    }

    .rigt1 {
      width: 100%;
      .sect {
        text-align: center;
        img {
          height: 200px;
          width: 200px;
        }
        h1 {
          font-size: 1rem;
          font-weight: lighter;
          margin: 0.8rem;
        }
        p {
          font-size: 0.9rem;
          color: $color;
          font-weight: bold;
        }
      }
    }
  }

  .work {
    height: fit-content;
    overflow: hidden;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background: $color;
    width: fit-content;
    @include flexer(column);
    .left1 {
      width: fit-content;
      height: fit-content;
      margin-top: 1rem;
      @include flexer(column);

      h4 {
        color: white;
        font-weight: 900;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }

      p {
        color: white;
        font-size: 1.8rem;
        text-align: center;
      }
    }

    .right1 {
      margin-top: 2rem;
      width: 100%;
      height: fit-content;
      @include flexer(column, space-between);

      .rgt1 {
        margin: 1rem;
        @include flexer(row, space-between);
        height: 25vh;
        text-align: center;

        .secti {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 732px) {
  .team {
    height: fit-content;
    width: fit-content;
    margin: 0;
    .lef1 {
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 25vh;
      margin-top: 1rem;
      @include flexer(column);

      h4 {
        color: $color;
        margin-bottom: 1rem;
        font-size: 1rem;
      }

      p {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    .rigt1 {
      width: fit-content;
      margin-top: 0;
      height: fit-content;
      @include flexer(column);
      margin-bottom: 4rem;
      .sect {
        margin-bottom: 4rem;
        text-align: center;
        img {
          height: 300px;
          width: 300px;
        }
        h1 {
          font-size: 1rem;
          font-weight: lighter;
          margin: 0.8rem;
        }
        p {
          font-size: 0.9rem;
          color: $color;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 625px) {
  .skill {
    width: fit-content;
    height: fit-content;
    @include flexer(column);

    .rit {
      width: 80%;

      .abou_p {
        font-size: 1.5rem;
      }
      .percen {
        width: fit-content;
        @include flexer(column);
        height: fit-content;

        .tage {
          align-items: center;
          justify-content: center;
          text-align: center;
          display: flex;
          flex-direction: column;
          margin: 2rem;
          h1 {
            height: 120px;
            padding-top: 2.5rem;
            width: 120px;
          }

          p {
            margin: 0rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .work {
    height: fit-content;
    padding-top: 2rem;
    overflow: hidden;
    @include flexer(column);
    .left1 {
      width: fit-content;
      height: fit-content;
      margin-top: 1rem;
      @include flexer(column);

      h4 {
        margin-bottom: 1rem;
        color: white;
        font-weight: 900;
        font-size: 1.5rem;
      }

      p {
        color: white;
        font-size: 2.2rem;
        margin-bottom: 2rem;
        text-align: center;
      }
    }

    .right1 {
      width: fit-content;
      height: fit-content;
      @include flexer(column, space-between);
      margin-bottom: 2rem;

      .rgt1 {
        @include flexer(column, space-between);
        height: fit-content;
        margin-bottom: 2rem;
        text-align: center;
      }

      .secti {
        margin-bottom: 1rem;
      }
    }
  }
}
