@import "../styles/utils";

.about {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;

  .right {
    width: 50%;
    text-align: center;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;

    img {
      width: 80%;
      position: relative;
      height: 70vh;
      z-index: -1;
    }
  }

  .left {
    width: 50%;
    display: flex;
    margin-left: 8rem;
    flex-direction: column;

    h2 {
      font-family: "PT Serif", serif;
      font-weight: 400;
      font-size: 2rem;
      color: $color;
    }

    > .about_p {
      font-size: 1.1rem;
      color: #7a7a7a;
      font-family: "PT Serif", serif;
      font-weight: 400;
      margin: 40px 0px;
    }

    .text {
      color: black;
      font-size: 18px;
      font-weight: bold;
      padding-right: 30%;
      text-align: left;
    }

    .bullet {
      list-style-type: decimal;
      color: #3f3f3f;
      font-size: 1.1rem;
      margin-top: 0.8rem;
    }

    .section {
      margin-top: 30px;
      flex-direction: row;
      display: flex;
      align-items: center;
      justify-content: left;
      margin-bottom: 30px;

      > .section1 {
        margin-right: 15%;

        .icon {
          color: #e78a4c;
          margin-bottom: 30px;
          font-size: 21px;
        }

        h2 {
          font-size: 18px;
          font-weight: lighter;
          margin-bottom: 20px;
          color: #141414;
        }

        p {
          color: #7a7a7a;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }

      > .section2 {
        margin-right: 20%;

        .icon {
          color: #e78a4c;
          margin-bottom: 30px;
          font-size: 21px;
        }

        h2 {
          font-size: 18px;
          font-weight: lighter;
          margin-bottom: 20px;
        }

        p {
          color: #7a7a7a;
          margin-bottom: 10px;
          font-size: 16px;
        }
      }
    }
  }

  button {
    border: 1px solid black;
    background: none;
    padding: 0.5rem 0;
    font-size: 1.1rem;
    width: 10rem;
    margin: 2rem 0;
    font-family: "PT Serif", serif;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      border: 1px solid black;
      background: black;
      color: white;
    }
  }
}

@media screen and (max-width: 500px) {
  .about {
    .right {
      img {
        display: none;
      }
    }
  }
}
// Achievements
.ment {
  overflow: hidden;
  height: 60vh;
  width: 100%;
  background: $color;
  color: white;
  flex-wrap: wrap;
  @include flexer(row, center);

  .lef {
    @include flexer(column);
    width: 50%;
    h3 {
      color: #272727;
      margin-bottom: 2rem;
      font-family: $font2;
      font-size: 3rem;
    }

    h1 {
      font-size: 2rem;
      font-weight: lighter;
    }
  }
  .rig {
    width: 50%;
    @include flexer(column);
    .r {
      width: 70%;
      margin-bottom: 2rem;
      @include flexer(row, space-between);
      .exp {
        h2 {
          font-size: 3rem;
          font-weight: lighter;
        }
        p {
          color: #aaaaaa;
        }
      }
    }
  }
}

// SKILLS
.skill {
  overflow: hidden;
  height: 100vh;
  width: 100%;
  display: flex;
  padding: 2rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  box-sizing: border-box;

  .rit {
    width: 90%;

    h2 {
      font-size: 1.5rem;
      color: $color;
      margin: 1rem 0;
    }

    .abou_p {
      font-size: 3rem;
    }

    .percen {
      width: 100%;
      @include flexer();
    }

    .tage {
      align-items: center;
      justify-content: center;
      text-align: center;
      display: flex;
      flex-direction: column;
      margin: 2rem;
      h1 {
        height: 150px;
        padding-top: 3.3rem;
        width: 150px;
        margin-bottom: 1rem;
        border-radius: 100px;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 2px solid $color;
      }

      p {
        margin: 1rem;
      }
    }
  }
}

// WORK
.work {
  height: 80vh;
  overflow: hidden;
  background: $color;
  width: 100%;
  flex-wrap: wrap;
  @include flexer(column);
  .left1 {
    width: 100%;
    height: 30vh;
    margin-top: 1rem;
    @include flexer(column);

    h4 {
      color: #272727;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    p {
      color: white;
      font-size: 3rem;
      text-align: center;
    }
  }

  .right1 {
    width: 100%;
    height: 30vh;
    @include flexer(row, space-between);

    .rgt1 {
      margin: 1rem;
      @include flexer(row, space-between);
      height: 25vh;
      text-align: center;
      width: 100%;
      .secti {
        .ico {
          width: 3rem;
          color: white;
          margin-bottom: 0.3rem;
          height: 3rem;
          transition: all 0.3s ease;

          &:hover {
            background: #000;
            color: white;
            padding: 0.1rem;
          }
        }

        h1 {
          color: white;
          font-weight: lighter;
          margin-bottom: 1rem;
        }

        p {
          color: white;
          text-align: center;
          padding: 0 1.4rem;
        }
      }
    }
  }
}

// TEAM
.team {
  height: 80vh;
  overflow: hidden;
  width: 100%;
  @include flexer(column);
  flex-wrap: wrap;

  .lef1 {
    width: 100%;
    height: 25vh;
    margin-top: 1rem;
    @include flexer(column);

    h4 {
      color: #bb6830;
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }

    p {
      font-size: 3rem;
      text-align: center;
    }
  }

  .rigt1 {
    width: 100%;
    height: 40vh;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-bottom: 2.5rem;
    @include flexer(row);
    margin: 1rem;
    gap: 2rem;

    .sect {
      margin-bottom: 3rem;
      text-align: center;
      img {
        height: 300px;
        width: 300px;
      }
      h1 {
        font-size: 1.4rem;
        font-weight: lighter;
        margin: 0.8rem;
      }
      p {
        font-size: 0.9rem;
        color: #bb6830;
        font-weight: bold;
      }
    }
  }

  @media screen and (max-width: 1680px) {
    .lef1 {
      height: 20vh;
      margin-top: 0.5rem;
    }
    .rigt1 {
      margin-top: 3rem;
      height: 40vh;
      padding-bottom: 12rem;
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }
}

@media screen and (max-width: 1680px) {
  .skill {
    height: fit-content;
  }
}

@media screen and (max-width: 1440px) {
  .team {
    height: 90vh;
    width: fit-content;
    margin: 0 3rem;
    @include flexer(center, center);

    .rigt1 {
      margin-bottom: 4rem;
      .sect {
        height: 40vh;
        margin-top: 1.2rem;
      }
    }
  }

  .skill {
    height: fit-content;
    .rit {
      margin-top: 3rem;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 1382px) {
  .team {
    height: 85vh;
    width: fit-content;
    margin: 0px;
    @include flexer(center, center);
  }
}

@media screen and (max-width: 1300px) {
  .ment {
    .lef {
      h1 {
        font-size: 2rem;
      }
    }
  }

  .skill {
    .rit {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 1024px) {
  .skill {
    width: fit-content;
    height: fit-content;
    @include flexer(column);

    .rit {
      margin-top: 2rem;
      width: 60%;
      .percen {
        width: fit-content;
        @include flexer();
        height: fit-content;
      }
    }
  }

  .team {
    height: fit-content;
    width: fit-content;
    margin: 0;
    @include flexer(center, center);

    .rigt1 {
      width: fit-content;
      height: fit-content;
      .sect {
        height: 40vh;
        margin-top: 1.2rem;

        img {
          height: 30vh;
          width: 22vw;
        }
      }
    }
  }
}

@media screen and (max-width: 986px) {
  .about {
    flex-direction: column;
    margin-top: 2rem;
    height: fit-content;
    .right {
      width: 80%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        margin-bottom: 1.5rem;
        position: relative;
      }
    }

    .left {
      width: 80%;
      margin-left: 0.4rem;

      h2 {
        text-align: center;
        margin-bottom: 0;
      }

      > .about_p {
        text-align: center;
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      .text {
        margin: 0;
        font-size: 1.2rem;
        font-weight: bold;
        padding-right: 0;
        text-align: justify;
      }

      .section {
        flex-direction: column;
        align-items: center;
        justify-content: left;
        margin-bottom: 30px;
      }
    }
    .btndiv {
      @include flexer();
    }
  }
}

@media screen and (max-width: 950px) {
  .about {
    height: fit-content;
    width: fit-content;
    margin-top: 2rem;
  }
}

@media screen and (max-width: 800px) {
  .ment {
    @include flexer(column);
    padding-top: 2rem;
    height: fit-content;

    .lef {
      width: fit-content;
      h3 {
        margin-top: 1rem;
        font-size: 1.8rem;
      }
      h1 {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 2rem;
      }
    }

    .rig {
      .r {
        @include flexer(column);
        .exp {
          margin-bottom: 5rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .team {
    height: fit-content;
    width: fit-content;
    margin: 0;

    .rigt1 {
      margin-bottom: 0rem;
    }

    .lef1 {
      width: 100vw;
      height: 25vh;
      margin-top: 1rem;
      @include flexer(column);

      h4 {
        color: #bb6830;
        margin-bottom: 1rem;
        font-size: 1.2rem;
      }

      p {
        font-size: 2.3rem;
        text-align: center;
      }
    }

    .rigt1 {
      width: fit-content;
      .sect {
        text-align: center;
        img {
          height: 150px;
          width: 140px;
        }
        h1 {
          font-size: 1rem;
          font-weight: lighter;
          margin: 0.8rem;
        }
        p {
          font-size: 0.9rem;
          color: #bb6830;
          font-weight: bold;
        }
      }
    }
  }

  .work {
    height: fit-content;
    overflow: hidden;
    padding-top: 2rem;
    background: #2a2f27;
    width: fit-content;
    @include flexer(column);
    .left1 {
      width: fit-content;
      height: fit-content;
      margin-top: 1rem;
      @include flexer(column);

      h4 {
        color: #272727;
        margin-bottom: 1rem;
        font-size: 1.5rem;
      }

      p {
        color: white;
        font-size: 1.8rem;
        text-align: center;
      }
    }

    .right1 {
      margin-top: 2rem;
      width: 100%;
      height: fit-content;
      @include flexer(column, space-between);

      .rgt1 {
        margin: 1rem;
        @include flexer(row, space-between);
        height: 25vh;
        text-align: center;

        .secti {
          font-size: 0.8rem;
        }
      }
    }
  }
}

@media screen and (max-width: 732px) {
  .team {
    height: fit-content;
    width: fit-content;
    margin: 0;
    .lef1 {
      justify-content: center;
      align-items: center;
      text-align: center;
      height: 25vh;
      margin-top: 1rem;
      @include flexer(column);

      h4 {
        color: #272727;
        margin-bottom: 1rem;
        font-size: 1rem;
      }

      p {
        font-size: 1.8rem;
        text-align: center;
      }
    }

    .rigt1 {
      width: fit-content;
      height: fit-content;
      @include flexer(column);
      margin-bottom: 4rem;
      .sect {
        margin-bottom: 4rem;
        text-align: center;
        img {
          height: 300px;
          width: 300px;
        }
        h1 {
          font-size: 1rem;
          font-weight: lighter;
          margin: 0.8rem;
        }
        p {
          font-size: 0.9rem;
          color: #bb6830;
          font-weight: bold;
        }
      }
    }
  }
}

@media screen and (max-width: 625px) {
  .skill {
    width: fit-content;
    height: fit-content;
    @include flexer(column);

    .rit {
      width: 80%;

      .abou_p {
        font-size: 1.5rem;
      }
      .percen {
        width: fit-content;
        @include flexer(column);
        height: fit-content;

        .tage {
          align-items: center;
          justify-content: center;
          text-align: center;
          display: flex;
          flex-direction: column;
          margin: 2rem;
          h1 {
            height: 120px;
            padding-top: 2.5rem;
            width: 120px;
          }

          p {
            margin: 0rem;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 375px) {
  .work {
    height: fit-content;
    padding-top: 2rem;
    overflow: hidden;
    @include flexer(column);
    .left1 {
      width: fit-content;
      height: fit-content;
      margin-top: 1rem;
      @include flexer(column);

      h4 {
        margin-bottom: 1rem;
        color: #272727;
        font-size: 1.5rem;
      }

      p {
        color: white;
        font-size: 2.2rem;
        margin-bottom: 2rem;
        text-align: center;
      }
    }

    .right1 {
      width: fit-content;
      height: fit-content;
      @include flexer(column, space-between);
      margin-bottom: 2rem;

      .rgt1 {
        @include flexer(column, space-between);
        height: fit-content;
        margin-bottom: 2rem;
        text-align: center;
      }

      .secti {
        margin-bottom: 1rem;
      }
    }
  }
}
