@import "./utils";

.bannerimg {
  height: fit-content;
  width: 100vw;

  img {
    height: 81vh;
    width: 100%;
  }
}

// @media screen and (max-width: 810px) {
//   .bannerimg {
//     img {
//       height: 50vh;
//     }
//   }
// }
@media screen and (max-width: 768px) {
  .bannerimg {
    img {
      height: 53vh;
    }
  }
}

@media screen and (max-width: 464px) {
  .bannerimg {
    img {
      height: 28.5vh;
    }
  }
}