@import "./utils";

.header {
  @include hw;
  border-bottom: 1px solid #00000042;
  border-top: 20px solid $color;
}

.hamburger {
  display: none;
}

.hd {
  height: 82%;
  width: 16%;
  margin: 0 auto;

  @media screen and (max-width:1056px) {
    display: none;
  }
}

.navbar {
  @include flexer();
  padding: 0;
  margin: 0;
  width: 100%;
  @include flexer(row, space-between);
  padding: 2rem 1rem;
  height: 20vh;

  .navbar_logo {
    padding-left: 8rem;
  }

  @media screen and (max-width: 2560px) and (min-width: 1700px) {
    .navbar_logo {
      padding-left: 0;

      .link {
        img {
          height: 12vh;
        }
      }
    }
  }

}

@media screen and (max-width: 1380px) {
  .navbar_logo {
    padding-left: 6rem;
  }
}

@media screen and (max-width: 1059px) {
  .navbar {

    .navbar_logo {
      padding-left: 0rem;
    }
  }
}

@media screen and (max-width: 1700px) and (min-width: 1681px) {
  .navbar {
    .navbar_logo {
      padding-left: 0;

      .link {
        img {
          height: 10vh;
        }
      }
    }
  }
}

.links {
  @include flexer(row, space-between);
  @include hw(25%);

  >a {
    color: rgb(0, 0, 0);
    font-family: "Antic Didone", serif;
    text-decoration: none;
    font-size: 0.9rem;
    transition: all ease 0.5s;
    font-weight: 600;

    &:hover {
      color: $color1;
    }
  }
}

.navbar_logo {
  @include flexer();

  .link {
    >img {
      // width: 48%;
      width: 55%;
      @include hw(70%, 70%);
      border: 3px solid $color;
      padding: 4px 22px;
    }
  }
}

@media screen and (max-width: 1050px) {
  .icons1 {
    display: none;
  }
}

@media screen and (max-width: 420px) {
  .search_modal {
    .searcmenu {
      margin-top: 0rem;
      width: 95%;

      input {
        font-size: 1.5rem;
      }
    }
  }
}

.side_menu {
  width: 100%;
  height: 46vh;
  position: static;
  background-color: black;
  right: 0;
  overflow: hidden;

  @media screen and (min-width: 768px) {
    width: 390px;
  }
}

.sear {
  width: 95%;
  margin: 10px 4px;
  border-bottom: 1px solid rgb(102, 100, 100);
  outline: none;
  justify-content: center;
  text-align: center;

  input {
    width: 100%;
    margin: 0 0.2rem;
    padding: 10px 25px;
    margin-bottom: 10px;
    outline: none;
  }
}

.sidelink {
  height: auto;
  margin-top: 2.5rem;
  @include flexer(column, center);
  padding: 0 10px 10px 10px;
  gap: 1.5rem;
}

@media screen and (min-width: 768px) {
  .sidelink {
    margin-top: .5rem;
    height: 300px;
  }
}

.hamlink {
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
  border-bottom: 2px solid black;

  &:hover {
    color: #8d3d3b;
    border-bottom: 2px solid white;
  }
}

@media screen and (max-width: 1518px) {
  .links {
    a {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 1400px) {
  .links {
    @include flexer(row, space-between);
    height: 40%;
    width: 25%;
    font-size: 0.8rem;

    a {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 1370px) {
  .links {
    a {
      font-size: 0.7rem;
    }
  }
}

@media screen and (max-width: 1170px) {
  .links {
    width: 28%;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 1056px) {
  .links {
    display: none;
  }

  .hamburger {
    display: block;
    font-size: 2rem;
    @include flexer();
    padding: 10px 15px;
    border-radius: 200px;
    border: none;

    &:hover {
      background-color: $color2;
    }
  }

  .side_menu {
    display: block;
  }

  .hamburger {
    display: block;
  }

  .icons {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    @include flexer();
    padding: 0;
    height: 18vh;
    margin: 0;
    @include flexer(row, space-between);
    padding: 2rem 1rem;

    .navbar_logo {
      padding-left: 0rem;
      margin-left: 1rem;
    }
  }

  .links {
    display: none;

    >a {
      color: black;
      text-decoration: none;
      transition: all ease 0.5s;
      font-weight: 600;

      &:hover {
        color: $color1;
      }
    }
  }

  .hamburger {
    display: block;
    font-size: 2rem;
    @include flexer();
    padding: 10px 15px;
    border-radius: 200px;
    border: none;

    &:hover {
      background-color: $color2;
    }

    .navbar_logo {
      @include flexer();

      .link {
        >img {
          width: 48%;
          @include hw(60%, 60%);
        }
      }
    }

    .icons {
      @include hw(20%);
      @include flexer(row);
    }

    .btn {
      background: none;
      border-radius: 50px;
      width: 40px;
      height: 40px;
      @include flexer;
      font-size: 1.5rem;
      margin: 5px 10px;
      border: none;

      &:hover {
        background: $color2;
      }
    }
  }
}

@media screen and (max-width: 425px) {
  .navbar {
    height: 15vh;
  }
}

@media screen and (max-width: 2560px) and (min-width: 1700px) {
  .links {
    width: 28%;

    a {
      font-size: 1.2rem;
    }
  }

  .navbar_logo {
    @include flexer();

    .link {
      >img {
        @include hw(100%, 100%);
      }
    }
  }
}
