@import "./utils";

.section {
  @include flexer(center, center);
  min-height: 100vh;
  background: white;
  animation: animateBg 10s linear infinite;
}

@keyframes animateBg {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.section .loader {
  position: relative;
  width: 120px;
  height: 120px;
}

.section .loader span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: rotate(calc(18deg * var(--i)));
}

.section .loader span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #810b07;
  box-shadow: 0 0 10px #810b07, 0 0 20px #810b07, 0 0 40px #810b07,
    0 0 60px #810b07, 0 0 80px #810b07, 0 0 100px #810b07;
  animation: animate 2s linear infinite;
  animation-delay: calc(0.1s * var(--i));
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  80%,
  100% {
    transform: scale(0);
  }
}
